---
import Header from '../componentes/Header';
import Tecnologías from '../componentes/Tecnologias';
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Inicio | Portafolio</title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen">
    <Header client:load />
    <main class="p-8 text-center">
    <Header />
    <Tecnologías />
    </main>
  </body>
</html>
