{/* About Section */}
      <section className="bg-gray-800 rounded-xl p-6 shadow-xl border border-green-500/20">
        <h2 className="text-2xl font-bold text-green-400 mb-4">Sobre mí</h2>
          <p>Desarrollador Web Full Stack con experiencia en el desarrollo de aplicaciones web
             modernas y funcionales, formado en programas como Todos a la U y MisiónTIC, con 
            capacitaciones adicionales en tecnologías en la nube (AWS). Dominio de lenguajes como
             Java, Python, JavaScript, PHP, HTML y CSS, junto con herramientas como React, 
             Node.js, Django, Spring Boot y bases de datos como MySQL y MongoDB. Mi enfoque 
            incluye diseño UI/UX con Material Design y Flat, ofreciendo interfaces atractivas y 
            funcionales. Comprometido con el trabajo en equipo, la resolución de problemas y 
            la generación de valor para las organizaciones.
          </p>
      </section>