---
import Header from '../componentes/Header';
import Footer from '../componentes/Footer.astro';

const { title = "Portafolio" } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body class="bg-gray-900 text-white min-h-screen flex flex-col">
    <!-- Header -->
    <Header client:load />

    <!-- Contenido principal -->
    <main class="flex-1 p-8 text-center space-y-16">
      <slot />
    </main>

    <!-- Footer -->
    <Footer />
  </body>
</html>
